.header {
    padding: 2%;
    &__logo {
        @include cursive-heading;
        text-align: center;
        margin: 0;
    }
    &--witharrow {
        position: relative;
    }
    &__returnarrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 5%;    
        height: 20px;
        width: 20px;
        top: 35%;
        font-size: 20px;
    }
}

