/* Colors */
/* Gradient */
/* Width */
/* Boutons */
/* Shadow */
* {
  box-sizing: border-box;
}

/* Global */
* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Classic text */
/* Headings */
.heading--cursive {
  font-family: "Shrikhand", cursive;
}

.button-gradient {
  margin: 8% 0%;
  padding: 10px 20px;
  height: 3.25rem;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right bottom, #FF79DA, #9356dc);
  color: white;
  font-weight: 500;
  box-shadow: 0px 5px 8px #d5d5d5;
  transition: 0.3s;
}
.button-gradient:hover {
  opacity: 0.88;
  box-shadow: 0px 5px 8px #afafaf;
}
.button-gradient--long {
  width: 50%;
  max-width: 250px;
}

.button-like {
  width: 10%;
  font-size: 25px;
}

.icon-like {
  width: 30px;
  height: 30px;
}

body {
  width: 100%;
  margin: auto;
}

.header {
  padding: 2%;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 0;
}
.header--witharrow {
  position: relative;
}
.header__returnarrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5%;
  height: 20px;
  width: 20px;
  top: 35%;
  font-size: 20px;
}

.footer {
  width: 100%;
  padding: 5% 5%;
  background-color: #404040;
  color: #ffffff;
}
.footer p {
  margin: 5px 0px;
}
.footer__heading {
  margin: 0px 0px 15px 0px;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}
.footer__nav {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.footer__nav__icons {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.footer__info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Info Localisation Div */
.info-localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-top: 1px solid #cfcfcf;
  background-color: #efefef;
  box-shadow: inset 0px 10px 8px -5px #d5d5d5;
  font-weight: 400;
}

/* Search Restaurant Section */
.search-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px 0px;
  background-color: #f7f7f7;
  text-align: center;
}
.search-restaurants__heading {
  width: 80%;
  margin: 10px 0px;
  font-size: 26px;
  font-weight: 700;
}
.search-restaurants p {
  width: 80%;
  margin: 0px;
  font-weight: 300;
}

/* Explain Operation Section */
.explain-operation {
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
}
.explain-operation__heading {
  margin: 10% 0% 5% 0%;
  font-size: 24px;
  font-weight: 700;
}
.explain-operation__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  margin: auto;
}

.explain-step {
  display: flex;
  align-items: center;
  height: 70px;
  gap: 4%;
  margin: 2% 0%;
  background-color: #f7f7f7;
  box-shadow: 0px 5px 8px #d5d5d5;
  border-radius: 20px;
  transition: 0.3s;
}
.explain-step__number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -10px;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  color: #ffffff;
  background-color: #9356dc;
  padding: 1%;
}
.explain-step__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 25px;
  color: #898989;
}
.explain-step__instruction {
  font-weight: 600;
}
.explain-step:hover {
  background-color: #f2eafb;
  box-shadow: 0px 5px 8px #bcbcbc;
}

/* List Restaurant Section */
.list-restaurants {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 50px 0px;
  background-color: #f7f7f7;
}
.list-restaurants__heading {
  margin: 10% 5% 5% 5%;
  font-size: 24px;
  font-weight: 700;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 250px;
  margin: auto;
  margin-bottom: 5%;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 5px 8px #d5d5d5;
  transition: 0.3s;
}
.restaurant-card:hover {
  box-shadow: 0px 5px 8px #bcbcbc;
}

.restaurant-card__image {
  position: relative;
  overflow: hidden;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
}
.restaurant-card__image img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.restaurant-card__image--markernew {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #217460;
  font-weight: 500;
}

.restaurant-card__info {
  display: flex;
  align-items: flex-start;
  height: auto;
  min-height: 75px;
  padding: 15px;
}
.restaurant-card__info__text {
  width: 90%;
}
.restaurant-card__info__like {
  width: 10%;
  font-size: 25px;
}
.restaurant-card__info h3, .restaurant-card__info p {
  margin: 0px;
}

.page-restaurant__image {
  position: relative;
  width: 100%;
  height: 250px;
}
.page-restaurant__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  position: relative;
  top: -20px;
  margin-bottom: -20px;
  background-color: #f0f0f0;
  border-radius: 25px 25px 0px 0px;
  padding: 2% 5% 5% 5%;
}
.menu__heading {
  display: flex;
  align-items: center;
  margin: auto;
}
.menu__heading h1 {
  width: 85%;
  font-family: "Shrikhand", cursive;
}
.menu__heading i {
  width: 15%;
}
.menu__orderbtn {
  display: flex;
  justify-content: center;
}

.course-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.course-list__heading {
  width: 45px;
  margin: 1% 0%;
  padding: 10px 0px;
  border-bottom: 4px solid #99E2D0;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.course-card {
  display: flex;
  flex-direction: row;
  margin: 3% 0%;
  padding: 2%;
  background-color: #ffffff;
  border-radius: 15px;
}
.course-card__info {
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.course-card__info h3 {
  margin: 5px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.course-card__info p {
  margin: 5px;
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.course-card__price {
  display: flex;
  align-items: flex-end;
  width: 15%;
}
.course-card__price p {
  margin: 5px;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
