/* Global */
* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Classic text */
$font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
);


/* Headings */
.heading--cursive {
    font-family: 'Shrikhand', cursive;
}

@mixin index-heading {
    font-size: 24px;
    font-weight: map-get($font-weight, bold);
}

@mixin cursive-heading {
    font-family: 'Shrikhand', cursive;
}