/* Loading */
@keyframes loading-appear {
    50% {
        opacity: 0.95;
    }

    99% {
        z-index: 21;
    }

    100% {
        opacity: 0;
        z-index: -20;
    }
}

@keyframes rotate-gradient {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes icons-appearing {
    0% {
        transform: translateY(-150px);
        opacity: 0;
        animation-timing-function: cubic-bezier(.5, .78, .83, .67);
    }

    40% {
        transform: translateY(-10px);
        opacity: 1;

    }

    60% {
        transform: translateY(-10px);
        opacity: 1;

    }

    67% {
        transform: rotate(10deg);
    }

    74% {
        transform: rotate(-10deg);
    }

    80% {
        transform: translateY(-10px);
        opacity: 1;
    }

    100% {
        transform: translateY(+150px);
        opacity: 0;
        animation-timing-function: cubic-bezier(.5, .78, .83, .67);
    }
}

@keyframes ustensils-moving {
    0% {
        transform: translateY(-5px);
        animation-timing-function: linear;
    }

    100% {
        transform: translateY(5px);
        animation-timing-function: linear;
    }
}

/* Courses apparition */
@keyframes fade-in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(.17, .67, .83, .67);
    }
}

.fade-in {
    transform-origin: top;
    animation: fade-in 2s forwards;

    &--1delay {
        animation: fade-in 2s 500ms both;
    }

    &--2delay {
        animation: fade-in 2s 1000ms both;
    }
}

/* Heart fill */
@keyframes heart-fill {
    0% {
        opacity: (0);
        transform: scale(0.2)
    }

    15% {
        opacity: (.25);
    }

    80% {
        opacity: (1);
        transform: scale(1);
    }

    85% {
        opacity: (1);
        transform: scale(1.1);
    }

    95% {
        opacity: (1);
        transform: scale(1.05);
    }

    100% {
        opacity: (1);
        transform: scale(1);
    }
}