/* Colors */
$color-primary: #9356dc;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white: #ffffff;
$shadow : #d5d5d5;

/* Gradient */
$gradient-loader : linear-gradient(to top, lighten($color-primary, 10%), $color-secondary, transparent, transparent);

/* Degree Gradient */
$degree: 165deg;

/* Width */
$mainwidth: 90%;

/* Loading spinner animation delay */
$icons-delay: 610ms;

/* Responsive */
$breakpoints: (
    tablet: 768px,
    desktop: 1024px,
);